DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?sslmode=require"
SESSION_SECRET="generate-with-openssl-rand-base64-32"
NEXT_PUBLIC_APP_NAME="Futsal BS23"
ADMIN_EMAIL="akib@futsalbs23.com"
ADMIN_PASSWORD="Akib12345"
NEXT_PUBLIC_BKASH_NUMBER="01796620959"
